.footerdiv{
        max-height: 200px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.4vw;
        color:#868e96;
        border-top:.01px solid gainsboro;;
        margin-top: 2vw;
}