.skills-main{
        width: 90%;
        padding-top: 2vw;
        margin-left: auto;
        margin-right: auto;
}
.skills-main>h2{
        font-family: Arial, sans-serif;
        text-align: center;
        color: #55198b;
        opacity: 90%;
        font-size: 3.5vw;
        font-weight: 700;
}
.skills-gif{
        width:50vw;
        margin-top: auto;
        margin-bottom: auto;
}
.skills-divs{
        display: flex;
        overflow: auto;
        flex-direction: row;
        
}
.skills-main>p{
        font-family: Arial, sans-serif;
        font-size: 2vw;
        color:gray;
        text-align: center;
}

.skillsDiv-parent{
        width:50vw;
        display: grid;
        overflow: auto;
        grid-template-columns: repeat(4, 1fr);
       
}
.skills-pic{
        width:8vw;
        height: 8vw;
        margin-left: auto;
        margin-right: auto;
        
}
.skillsDiv-parent>div{
        display: flex;
        overflow: auto;
        flex-direction: column;
        cursor: pointer;
        height: 12vw;
        width:10vw;

}
.skillsDiv-parent>div>p{
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 1.2vw;
        color:gray;
}